<!doctype html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
  <div id="test" style="width: 100px; height: 100px; display: block;"></div>
</body>
<script src="../assets/jquery-1.7.1.min.js"></script>
<script id="videonode" src="../assets/webVideoCtrl.js"></script>
<script src="../assets/demo.js"></script>
</html>
